# dependencies
# - ignore any node_modules folder down the tree
build/src*/node_modules
node_modules/
# This project uses yarn
build/src/package-lock.json

# build files
build/src/dist/

# testing
build/src*/coverage
cred/

# production
build/src*/build
build/src*/build_*
build/src/build/
build/src*/dist
build/src/dist/
build_*/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

build/src*/npm-debug.log*
build/src*/yarn-debug.log*
build/src*/yarn-error.log*
uploader