
.otpUrlContainer {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.otpUrl {
  text-decoration: none;
  transition-duration: 0.4s;
}
.otpUrl:link { /* unvisited link */
    color: $secondary;
}
.otpUrl:visited { /* visited link */
    color: $secondary;
}
.otpUrl:hover { /* mouse over link */
    color: $toneMid;
}
.otpUrl:active { /* selected link */
    color: $secondary;
}
